
.c-fixed_wrapper {
    position: relative;
    // overflow: hidden;
    background-color: $beige;

    @media (min-width: $from-medium) {
        height: 200vh;
    }
    @media (max-width: $to-medium) {
        height: 200vh;
    }
}


.c-fixed {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    opacity: 0.75;
    mix-blend-mode: multiply;

    html:not(.has-scroll-smooth) & {
        top: 0;
    }
}
