html {
    scroll-behavior: initial;

    &.has-scroll-dragging {
        user-select: none;
    }
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
    opacity: 0;

    .has-scroll-init & {
        opacity: 1;
    }
}

[data-scroll-wrapper] {
    [data-scroll-direction="vertical"] & {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    [data-scroll-direction="horizontal"] & {
        width: 100vw;
        height: 100vh;
        overflow-x: scroll;
    }
} 

[data-scroll-container] {
    .has-scroll-smooth & {
        min-height: 100vh;
    }
    [data-scroll-direction="horizontal"] & {
        height: 100%;
        display: inline-flex;
        min-width: var(--scrollContainerWidth);
    }
}

[data-scroll-section] {
    [data-scroll-direction="horizontal"] & {
        flex-shrink: 0;
        height: 100vh;
    }
}


